{
  "extends": [
    "airbnb-base",
    "plugin:promise/recommended"
  ],
  "plugins": [
    "promise"
  ],
  "rules": {
    "no-console": 0,
    "no-bitwise": 0,
    "no-mixed-operators": 0,
    "no-restricted-syntax": 0,
    "no-case-declarations": 0,
    "no-continue": 0,
    "max-len": 0
  }
}
